.edit_charge {
  background-color: none;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-sizing: 0px;
}
.edit_amount {
  background-color: none;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-sizing: 0px;
  margin-left: 20px;
}
.login {
  background-color: rgba(194, 196, 207, 0.5);
}
.image_style {
  height: 100vh;
  width: 100%;
  opacity: 0.6;
}
